MiniatureBottleMVCWebApplication/MiniatureBottleMVCWebApplication/Service References/JSONRestService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MiniatureBottleMVCWebApplication.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MiniatureBottleMVCWebApplication.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Bottle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Alcohol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlcoholType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Continent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shape" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shell" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bottle" nillable="true" type="tns:Bottle" />
</xs:schema>