MiniatureBottleMVCWebApplication/MiniatureBottleMVCWebApplication/Service References/JSONRestService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9309/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MiniatureBottleMVCWebApplication.Models" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBottle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBottleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MiniatureBottleMVCWebApplication.Models" minOccurs="0" name="GetBottleResult" nillable="true" type="q1:Bottle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>